{{ $l10n := partial "l10n.html" . }}

{{- if .IsHome -}}
    {{ site.Title }}
{{- else if eq .Kind "page" | and (in .CurrentSection.Path "songs") -}}
    {{ .Title }} @ {{ site.Title }}
{{- else if .IsSection | and (eq .Section "songs") -}}
    {{ (index $l10n "songs") | default "Archives" }} @ {{ site.Title }}
{{- else if eq .RelPermalink "/about/" -}}
    {{ (index $l10n "about") | default "About" }} @ {{ site.Title }}
{{- else if eq .RelPermalink "/search/" -}}
    {{ (index $l10n "search") | default "Search" }} @ {{ site.Title }}
{{- else -}}
    {{ (index $l10n "pagenotfound_title") | default "404" }} @ {{ site.Title }}
{{- end -}}